body{background-color: #57B8FF ;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

header{width: 100%;
font-family: 'Mirza', cursive;
background-color: #246AB6;
padding: 0.5%;
position: fixed;}

.navegacion ul{
	list-style: none;}

.menu > li{
	position: relative;
	display: inline-block;}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;}

.menu li a:hover{
	color: black;}

/* Submenu*/
.submenu{background-color: #3478C2 ;
	position: absolute;
	width: 100%;
	visibility: hidden;
	text-align: left;
	padding-left: 5%}

.menu li:hover .submenu{
	visibility: visible;} /* desde el "*" hasta ac치 es un c칩digo sacado en https://www.youtube.com/watch?v=3mdQuS8VHKg*/

.menu li a{color: #F2EBF0;}

.submenu a:link, a:visited {
  color: white;
  text-decoration: none;
  display: inline-block;
} /* c칩digo sacado en https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced2*/

.submenu a:hover, a:active {
  background-color: #57B8FF;
  color: black;
} /* c칩digo sacado en https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced2*/

#otro a:hover{size: 60%}

main{padding-left: 5%;
	padding-right: 5%;
background-color: #B4DFFF;
margin: 8%;
border-radius: 30px;}

p{font-family:'Average Sans', sans-serif;
font-size: 150%}
article h1{font-family:'Mirza', cursive;
font-size: 350%;}
article h2{font-family: 'Average Sans', sans-serif; }
article a{padding: 2.5%;
padding-top: 3%}

#puffles{padding: 10px; 
	margin: 10px; 
	float: left; 
	width: 45%; }

#referencias h2{font-size: 120%}
#referencias p{font-size: 110%}

footer{width: %;
padding: 2%; background-color: #246AB6;}
